body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #004225; /* Color verde poco oscuro */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

.header-left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 250px;
    height: auto;
}

.header-right {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: auto;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carta-porte-container {
    position: relative;
    max-width: 100%;
}

#carta-porte {
    max-width: 100%;
    height: auto;
}

.info-icon {
    position: absolute;
    width: 10px; /* Tamaño del ícono */
    height: auto; /* Tamaño del ícono */
    cursor: pointer;
}

#info-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2rem; /* Aumenta el relleno */
    border-radius: 10px; /* Aumenta el borde redondeado */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
    display: none;
    z-index: 10;
    width: 250%; /* Aumenta el ancho */
    max-width: 600px; /* Aumenta el ancho máximo */
    text-align: center;
    font-size: 1.2rem; /* Aumenta el tamaño de la fuente */
}

#info-popup.hidden {
    display: none;
}

#close-popup {
    position: absolute;
    top: 5px;
    right: 4px;
    width: 55px; /* Aumenta el tamaño del ícono de cierre */
    height: uto; /* Aumenta el tamaño del ícono de cierre */
    cursor: pointer;
}

@media (max-width: 768px) {
    .info-icon {
        width: 20px; /* Ajusta el tamaño según sea necesario para pantallas más pequeñas */
        height: 20px; /* Ajusta el tamaño según sea necesario para pantallas más pequeñas */
    }

    #info-popup {
        width: 90%;
        max-width: 300px; /* Ajusta el ancho máximo para pantallas más pequeñas */
        padding: 1rem;
        font-size: 1rem; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }

    header {
        padding: 0.5rem 0;
    }

    .header-left, .header-right {
        width: 100px; /* Ajusta el tamaño de las imágenes del encabezado */
    }
}

