body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4285f4;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.home-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 110px;
    height: auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.documentation-section {
    background-color: #73CAFF;
    border: 2px solid #4285f4;
    border-radius: 10px;
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

.documentation-section h2 {
    background-color: #73CAFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: -40px;
    display: inline-block;
}

.documentation-section ul {
    list-style-type: none;
    padding: 0;
}

.documentation-section ul li {
    margin: 10px 0;
}

.documentation-section ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.documentation-section ul li a:hover {
    text-decoration: underline;
}

#info-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #004d00;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
}

#info-popup.hidden {
    display: none;
}

#close-popup {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #004d00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#close-popup:hover {
    background-color: #003300;
}
