* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


.background-imagei {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Inicio.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

.comenzar-icon {
    position: absolute;
    width: 10px; /* Tamaño del ícono */
    height: auto; /* Tamaño del ícono */
    cursor: pointer;
}
    
.guia-icon {
    position: absolute;
    width: 10px; /* Tamaño del ícono */
    height: auto; /* Tamaño del ícono */
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    

@media (max-width: 768px) {
    
@media (max-width: 480px) {
    
