* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background-imagei {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Inicio.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.inicio.buttons {
    position: relative;
    width: 10%;
    height: 10%;
}

.comenzar-icon {
    position: absolute;
    width: 10%; /* Tamaño del ícono */
    height: auto; /* Tamaño del ícono */
    cursor: pointer;
}

.guia-icon {
    position: absolute;
    width: 10%; /* Tamaño del ícono */
    height: auto; /* Tamaño del ícono */
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .comenzar-icon,
    .guia-icon {
        width: 15%; /* Ajustar el tamaño del ícono para pantallas más pequeñas */
    }
}

@media (max-width: 768px) {
    .comenzar-icon,
    .guia-icon {
        width: 20%; /* Ajustar el tamaño del ícono para pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .comenzar-icon,
    .guia-icon {
        width: 25%; /* Ajustar el tamaño del ícono para pantallas más pequeñas */
    }
}
