body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #004225; /* Color verde poco oscuro */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

.header-left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 250px;
    height: auto;
}

.header-right {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: auto;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carta-porte-container {
    position: relative;
}

#carta-porte {
    max-width: 100%;
    height: auto;
}

.info-icon {
    position: absolute;
    width: 30px; /* Tamaño del ícono */
    height: 30px; /* Tamaño del ícono */
    cursor: pointer;
}

#info-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2rem; /* Aumenta el relleno */
    border-radius: 10px; /* Aumenta el borde redondeado */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
    display: none;
    z-index: 10;
    width: 90%; /* Aumenta el ancho */
    max-width: 600px; /* Aumenta el ancho máximo */
    text-align: center;
    font-size: 1.2rem; /* Aumenta el tamaño de la fuente */
}

#info-popup.hidden {
    display: none;
}

#close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px; /* Aumenta el tamaño del ícono de cierre */
    height: 30px; /* Aumenta el tamaño del ícono de cierre */
    cursor: pointer;
}
