body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

header {
    background-color: #4285f4;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
}

.regresar-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: auto;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.main-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.product-image {
    max-width: 700px;
    height: auto;
    border-radius: 10px;
}

.selector {
    margin-bottom: 20px;
}

#info {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #6AACFF;
    border-radius: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .product-image {
        max-width: 150px;
    }
}

@media (max-width: 480px) {
    .product-image {
        max-width: 100px;
    }
}
