* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background-imagei {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Inicio.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.inicio.buttons {
    position: relative;
    width: 100%;
    height: 100%;
}

.comenzar-icon,
.guia-icon {
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s;
}

.comenzar-icon:hover,
.guia-icon:hover {
    transform: scale(1.1);
}

/* Ajustes de tamaño de los íconos */
.comenzar-icon {
    width: 150px; /* Ajusta el ancho del ícono */
    height: auto; /* Mantén la proporción del ícono */
}

.guia-icon {
    width: 150px; /* Ajusta el ancho del ícono */
    height: auto; /* Mantén la proporción del ícono */
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .comenzar-icon,
    .guia-icon {
        width: 120px; /* Ajusta el ancho del ícono para pantallas más pequeñas */
    }
}

@media (max-width: 768px) {
    .comenzar-icon,
    .guia-icon {
        width: 100px; /* Ajusta el ancho del ícono para pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .comenzar-icon,
    .guia-icon {
        width: 80px; /* Ajusta el ancho del ícono para pantallas más pequeñas */
    }
}
