body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4285f4;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}

.header-left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 160px;
    height: auto;
}

.header-right {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70px;
    height: auto;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carta-porte-container {
    position: relative;
    max-width: 100%;
}

.responsive-img {
    width: 100%;
    height: auto;
}

.info-icon {
    position: absolute;
    width: 100px; /* Tamaño del ícono */
    height: auto; /* Tamaño del ícono */
    cursor: pointer;
}
.info-iconp {
    position: absolute;
    width: 70px; /* Tamaño del ícono */
    height: auto; /* Tamaño del ícono */
    cursor: pointer;
}

#info-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 10;
    width: 90%;
    max-width: 600px;
    text-align: center;
    font-size: 1.2rem;
}

#info-popup.hidden {
    display: none;
}

#close-popup {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 55px;
    height: auto;
    cursor: pointer;
}

.side-nav {
    position: fixed;
    top: 52%;
    left: 18px;
    transform: translateY(-50%);
    z-index: 20;
    background-color: #73CAFF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav li {
    margin: 7px 0;
}

.side-nav a img {
    width: 95px;
    height: auto;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 0.75rem;
    }

    .header-left {
        width: 60px;
    }
    .header-right {
        width: 25px;
    }

    .info-icon {
        width: 42px;
    }

    .info-iconp {
        width: 35px;
    }
    
  
    #info-popup {
        width: 90%;
        max-width: 300px;
        padding: 1rem;
        font-size: 1rem;
    }

    header {
        padding: 0.4rem 0;
    }
    .side-nav a img {
        width: 40px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 0.6rem;
    }

    .header-left, .header-right {
        width: 50px;
    }

    .info-icon {
        width: 30px;
    }

    .info-iconp {
        width: 15px;
    }

    .side-nav a img {
        width: 20px;
    }
}
