body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #1a237e;
    color: white;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: white;
}

/* Estilos para el encabezado principal */
.hero {
    padding: 2rem;
    background-color: #f5f5f5;
}

.display-4 {
    font-size: 3rem;
    color: #1a237e;
}

.lead {
    font-size: 1.5rem;
    color: #616161;
}

/* Estilos para los botones */
.btn-primary,
.btn-secondary {
    background-color: #1a237e;
    border: none;
    margin-right: 1rem;
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: #0d47a1;
}

/* Estilos para la ventana emergente (si es necesario) */
/* .overlay {
    Agrega estilos para la ventana emergente aquí
} */

/* Estilos para el pie de página */
.footer {
    background-color: #1a237e;
    color: white;
    padding: 1rem 0;
}
